    <div id="notfound">
         <div class="notfound">
            <div class="notfound-404">
                <h1>
                   Error!
                </h1>
             </div>
 
            <div class="zbr-error">
                <h3>
                    <span>
                        {{ browzer_name }} Runtime code: 
                    </span>
                    <span style="color:#d9202e">
                        {{ code }}
                    </span>
                </h3>
            </div>
            <div class="zbr-title">
                {{ title }}   
            </div>
            <br/>
            <br/>
            <div class="zbr-message">
                {{ message }}   
            </div>
            <br/>
            <br/>
            <br/>
            <div class="ziti-admin">
                Contact your Ziti Network Administrator for assistance.
            </div>    
         </div>
      </div>
      <div class="notfound-footer">
         <p>
            {{footer}}
         </p>
      </div>
