      <div id="notfound">
         <div class="notfound">
            <div class="notfound-404">
               <h1>
                  Oops!
               </h1>
               <img alt="Ziggy" src="https://api.zrok.io/ziggy.svg" width="65" >
            </div>
            <h2>
               <span>
                  the share you specified was not found
              </span>
            </h2>
            <br/>
            <br/>
            <p>
               <span>
                  The zrok share named 
               </span>               
               <span style="color:#d9202e">
                  {{ zrokshare }}
              </span>               
              <span>
                  might have been removed or is temporarily unavailable.
              </span>
            </p>
         </div>
      </div>
      <div class="notfound-footer">
         <p>
            {{footer}}
         </p>
      </div>
